//general
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

body {
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 1px;
}
nav {
  transition: padding .5s;
  //background-color: transparent !important;
  background-color: #00000008!important;

  .nav-item a {
    font-weight: bold;
  }

  .nav-item a:hover {
    color: #018e79 !important;
  }

  .nav-item a.active {
    color: #018e79 !important;
  }
}
nav.shadow {
  padding: 0 !important;
  background-color: white !important;
}
.img-header img {
  opacity: 0.5;
}
.carousel-control-next {
  right: -35px;
}
.carousel-control-prev {
  left: -35px;
}
.carousel-control-next, .carousel-control-prev {
  width: auto;
  top: -60px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators {
  bottom: -40px;

  li {
    background-color: #000;
  }
}
.text-success, .btn-outline-success {
  color: #018e79 !important;
}
.btn-success, .btn-outline-success:hover {
  background-color: #018e79 !important;
  color: white !important;
  border-color: transparent;
}
.border-warning, .btn-outline-warning {
  border-color: #c8b361 !important;
}
.img-header img {
  transform: rotate(3deg);
}

.btn {
  transition: transform .4s;

  &:hover, &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #04c1a5;
    transform: translateY(-0.25em);
  }
}

.btn-outline-dark {
  transition: transform .4s;

  &:hover, &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #5a646f;
    transform: translateY(-0.25em);
  }
}

.btn-primary {
  transition: transform .4s;

  &:hover, &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #4fa0ff;
    transform: translateY(-0.25em);
  }
}

.bg-success {
  background-color: #018e79 !important;
}
.text-shadow {
  text-shadow: 1px 1px 2px #e2e2e2;
}
.card-header a {
  cursor: pointer;
}
#section-contact {
  background-color: #F7F7F7;
  margin-top: -100px;
  padding-top: 150px;
}
#section-footer {
  border-top: 1px solid #cccccc;
  background-color: #f7f9fa;
}


//home
#section-h1 {
  //box-shadow: inset 0 400px 70px -25px rgba(0, 0, 0, 0.05);

  &::before {
    content: "";
    opacity: 0.03;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/assets/images/bg-img-service-intro.jpg);
    background-position: 100% 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 300px 70px -25px rgba(0, 0, 0, 0.05);
  }
}
#section-h2 {
  padding-top: 75px;
  padding-bottom: 100px;
  color: black;
  clip-path: polygon(50% 0,100% 0%,100% 100%,0 100%,0 0%);
  background-color: #f7f9fa;
}
#section-h3 {
  margin-top: -40px;
  background-image: linear-gradient(180deg,#00af95,#018e79,#00798E,#008096);
  padding-top: 100px;
  padding-bottom: 100px;
  color: #f3f3f3!important;
  clip-path: polygon(70% 0,100% 10%,100% 90%,30% 100%,0 90%,0 10%);
}
#section-h4 {
  color: #000;
  margin-top: -40px;
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: #f7f9fa;
}
#section-h5 {
  clip-path: polygon(70% 0,100% 7%,100% 100%,0 100%,0 100%,0 7%);
  background-color: #fff;
  margin-top: -100px;

  img{
    filter: grayscale(100%);
    &:hover{
      filter: none;
    }
  }
}
#section-h6 {
  margin-top: -40px;
  background-color: #c8b361;
  background-image: linear-gradient(180deg,#000000,#000000);
  color: #f3f3f3!important;
  clip-path: polygon(50% 0,100% 10%,100% 90%,50% 100%,0 90%,0 10%);
}

//portfolio
#section-p1 {
  //box-shadow: inset 0 400px 70px -25px rgba(0, 0, 0, 0.05);

  &::before {
    content: "";
    opacity: 0.03;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/assets/images/bg-img-portfolio.jpg');
    background-position: 100% 0;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 300px 70px -25px rgba(0, 0, 0, 0.05);
    max-height: 550px;
  }
}
#section-p2 {
  padding-top: 75px;
  padding-bottom: 100px;
  //background-color: #f7f9fa;
  background-image: linear-gradient(180deg,#00af95,#018e79,#00798E);
  color: #f3f3f3!important;
  clip-path: polygon(100% 0,100% 100%,100% 100%,0 100%,0 0);

  .case-item {
    border: 3px solid #ffffff;
    position: relative;
    display: inline-block;
    transform: rotate(0deg) scale(.8);
    transition: transform .4s;
    overflow: hidden;

    &:hover {
      box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.55);
      transform: scale(.9);
      cursor: pointer;
      z-index: 1000;

      .case-type {
        display: block;
      }

      .case-desc {
        display: block;
        color: #000;
        position: absolute;
        bottom: 50px;
        font-weight: bold;
        text-align: left;
        padding: 5px;
      }

      .case-bg-cover {
        background-color: rgba(241, 241, 241, 0.88);
        height: 350px;
      }

      .case-logo-cover {
        img {
          transform: translateY(-7em);
        }
        span {
          transform: translateY(-3em);
        }
      }
    }

    .case-bg-cover {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(229, 228, 229, 0.9);
    }

    .case-logo-cover {
      position: absolute;
      top: 35%;
      text-align: center;
      left: 12%;

      span {
        display: inline-block;
        font-size: 36px;
        padding: 15px 0px 0px 65px;
        transform: rotate(0deg);
      }

      img {
        width: 280px;
        transform: rotate(0deg);
      }
    }

    .case-type {
      //display: none;
      text-align: center;
      font-size: 24px;
      bottom: 20px;
      font-weight: 600;
      color: #000000;
    }

    .case-desc {
      display: none;
    }
  }
}
#section-p3 {
  margin-top: -40px;
  background-color: #f7f9fa;
  padding-top: 100px;
  padding-bottom: 100px;
  clip-path: polygon(70% 0,100% 15%,100% 85%,30% 100%,0 85%,0 15%);

}
#section-p4 {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
  clip-path: polygon(100% 0,100% 0%,100% 100%,100% 100%,0 100%,0 0%);

  img{
    filter: grayscale(100%);
    &:hover{
      filter: none;
    }
  }
}
#section-p5 {
  //background-image: linear-gradient(180deg,white,rgba(241, 241, 241, 0.5));
  background-image: linear-gradient(180deg,#f3f3f3, hsla(0,0%,94.5%,.5));
  margin-top: -100px;
  padding-top: 100px;
}
#section-p6 {
  //background-image: linear-gradient(180deg,rgba(241, 241, 241, 0.5),#f3f3f3);
  background-image: linear-gradient(180deg,hsla(0,0%,94.5%,.5),#dcdcdc);
  clip-path: polygon(25% 0,100% 0,100% 80%,50% 100%,0 80%,0 0);
  padding-top: 50px;
  padding-bottom: 100px;

  div.shadow.py-5 {
    background-image: linear-gradient(180deg,rgba(241, 241, 241, 0.5),#f3f3f3);
  }
}

//about us
#section-au1 {

  &::before {
    content: "";
    opacity: 0.03;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/assets/images/bg-img-aboutus.jpg');
    background-position: 100% 0;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 300px 70px -25px rgba(0, 0, 0, 0.05);
  }
}
#section-au2 {
  padding-bottom: 100px;
  background-color: #f7f9fa;
  clip-path: polygon(100% 0,100% 0%,100% 100%,0 100%,0 0%);
}
#section-au3 {
  margin-top: -40px;
  background-image: linear-gradient(180deg,#00af95,#018e79,#00798E,#008096);
  padding-top: 50px;
  padding-bottom: 50px;
  color: #f3f3f3 !important;
  clip-path: polygon(70% 0,100% 10%,100% 90%,30% 100%,0 90%,0 10%);
}
#section-au5 {
  padding-bottom: 50px;
  background-color: #f7f9fa;
  margin-top: -80px;
  padding-top: 140px;

  a[data-toggle="collapse"]::after {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: url("/assets/images/svg/minus.svg");
    float: right;
    cursor: pointer;
  }

  a[data-toggle="collapse"].collapsed::after
  {
    content: url("/assets/images/svg/plus.svg");
    cursor: pointer;
  }

}

//responsive
@media only screen and (max-width: 1199px) {
  #section-h1::before {
    content: "";
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/assets/images/bg-img-service-intro.jpg');
    background-position: 100% 0;
    background-size: 125%;
    background-repeat: no-repeat;
    box-shadow: inset 0 300px 70px -25px rgba(0, 0, 0, 0.05);
    max-height: 1000px;
  }
  .img-header {
    display: none;
  }

  .case-item {
    box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.55);
    transform: rotate(0deg) scale(0.8) !important;
    cursor: pointer;

    .case-bg-cover {
      background-color: rgba(241, 241, 241, 0.88)!important;
    }

    .case-type {
      display: block !important;
    }
  }

  #section-p4 {
    clip-path: polygon(100% 0,100% 0%,100% 100%,100% 100%,0 100%,0 0%);
  }
}

@media only screen and (max-width: 991px) {
  #section-h1::before {
    background-size: 230%;
    max-height: 1000px;
  }
  #section-h3, #section-h4 {
    margin-top: -60px;
  }
  #section-h5 {
    clip-path: polygon(70% 0,100% 4%,100% 100%,0 100%,0 100%,0 4%);
  }
  #section-p1::before, #section-au1:before {
    background-size: 125%;
    max-height: 1000px;
  }
  #section-p3 {
    margin-top: -60px;
  }
  #section-p4 {
    clip-path: polygon(100% 0,100% 0%,100% 100%,100% 100%,0 100%,0 0%);
  }
}

@media only screen and (max-width: 767px) {
  nav.shadow {
    padding: .5rem 1rem !important;
  }
  #section-h1 h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  #section-h3 {
    clip-path: polygon(50% 0,100% 10%,100% 90%,50% 100%,0 90%,0 10%);
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  #section-h3, #section-h4 {
    margin-top: -80px;
  }
  #section-h5 {
    clip-path: polygon(50% 0,100% 5%,100% 100%,100% 100%,0 100%,0 5%);
  }
  #section-h6 {
    margin-top: -80px;
    padding-top: 70px !important;
  }
  #section-p3 {
    clip-path: polygon(50% 0,100% 15%,100% 85%,50% 100%,0 85%,0 15%);
  }
  #section-au3 {
    margin-top: -70px;
    clip-path: polygon(50% 0,100% 10%,100% 90%,50% 100%,0 90%,0 10%);
  }
  #section-au5 {
    a[data-toggle="collapse"]::after {
      display: none;
    }
    a[data-toggle="collapse"].collapsed::after {
      display: none;
    }
  }
}

@media only screen and (max-width: 374px) {
  #section-p3 {
    .case-item {
      width: 100%;

      .case-logo-cover {
        left: 0;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .rotate-md-3 {
    transform: rotate(-3deg);
  }
  .rotate-md3 {
    transform: rotate(3deg);
  }
}